---
import Header from "../components/Header.astro";
import Hero from "../components/Hero.astro";
import Tools from "../components/Tools.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <div class="max-w-xl mx-auto space-y-10">
	<Header />

	<Hero />

	<Tools />
  </div>
</Layout>
